@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 * { 
    margin: 0; 
    padding: 0; 
    outline: none;
} 
html,body { 
    display: grid; 
    height: 100%; 
    width: 100%; 
    place-items: center; 
    background: linear-gradient(315deg, white, #d7e1ec);
} 
.list { 
    display: inline-flex; 
    list-style: none;
} 
.list .icon {  
    position:  relative; 
    background: white; 
    border-radius: 50%; 
    padding: 15px; 
    margin: 10px; 
    width: 80px; 
    height: 80px; 
    font-size: 28px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265,1.55);
 } 
.list .media {  
    font-family: 'Poppins', sans-serif;
   position: absolute; 
    top:  0; 
    font-size: 18px; 
    background-color: white; 
    color:  white; 
    padding: 5px 8px; 
    border-radius: 5px; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
    opacity: 0; 
    pointer-events: none; 
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265,1.55);
} 
.list .media::before {  
    font-family: 'Antonio', sans-serif;
    position: absolute; 
    content: ""; 
    height:  8px; 
    width: 8px;    
    background:white; 
    bottom: -3px; 
    left: 50%; 
     transform: translate(-50%)rotate(45deg);  
    transition:  all 0.3s cubic-bezier(0.68, -0.55, 0.265,1.55);  
    
} 
.list .icon:hover .media { 
    top: -50px; 
    opacity: 1; 
    visibility: visible; 
    pointer-events: auto;
} 
.list .icon:hover span, 
.list .icon:hover .media { 
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}  
.list .instagram:hover, 
.list .instagram:hover .media, 
.list .instagram:hover .media::before { 
    background: #ff004c; 
    color:white;
} 
.list .github:hover, 
.list .github:hover .media, 
.list .github:hover .media::before { 
    background: #333333; 
    color: white;
}  
.list .telegram:hover, 
.list .telegram:hover .media, 
.list .telegram:hover .media::before { 
    background: #0088cc; 
    color:white;
} 
.list .vk:hover, 
.list .vk:hover .media, 
.list .vk:hover .media::before {
    background:#4c75a3;  
    color:white; 
}
 
    .imagine { 
    width: 30px;
} 
 
@media (max-width: 520px){ 
    .list{ 
    flex-direction:column ;
    } 
}
    
